.card {
  width: 200px;
  border: 1px solid black;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

main {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.card {
  width: 200px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

